#hello_world_view {
  width: 80%;
  height: auto;
  border: 1px solid #363636;
  margin: 15px 0;
  padding: 2%;
  color: #363636;
  background-color: #fff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
}
#hello_world_view fieldset {
  border: 1px solid #808080;
  padding: 10px;
}
.view_label {
  float: left;
  width: 20%;
  margin: 0;
  padding: 0 1% 0 0;
}
.view_value {
  float: left;
  width: 78%;
  margin: 0;
  padding: 0;
}
.view_clear {
  clear: both;
  width: 1px;
  height: 5px;
}


