{# 
  kfHelloWorld

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2012 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends template_file('@thirdParty/HelloWorld/Template', 'sample08.body.twig') %}
{% block content %}
  <h2>{{ 'Hello World Sample %number%'|trans({'%number%':'08:Start'}) }}</h2>
  <p>{{ 'Please click <a href="%link%">here</a> to load the next step.'|trans({'%link%':link}) }}</p>
{% endblock content %}
